Django==1.11.23
gunicorn==19.3.0
MySQL-python==1.2.5
django-filter==0.11.0
djangorestframework==3.2.3
html5lib==0.999
httplib2==0.8
oauthlib==0.6.1
piston-mini-client==0.7.5
psycopg2==2.6.1
pyOpenSSL==0.13
pycrypto==2.6.1
pyxdg==0.25
requests==2.2.1
urllib3==1.7.1
South==1.0.2

